# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/
**/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols
**/crashlytics-build.properties
**/*.dSYM/

# Exceptions to above rules.
!**/default.pbxproj

# MacOS
.DS_Store

# IntelliJ related
**/.idea/
**/*.iml
**/*.ipr
**/*.iws

# Android Studio related
**/local.properties
**/captures/

# Windows related
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc

# VS Code related
**/.vscode/

# Web related
**/web/icons/

# Ignore lock file
**/pubspec.lock

# Additional ignores
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/*
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.*
**/linux/flutter/generated_*
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/*
**/windows/runner/runner.exe.manifest
